body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
#main{
    height: 100%;
}

.logo{
    width:20%;
    margin-top: 3%;
    margin-left: 3%;;
}
#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    width: 94%;
    margin: 0 30px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}

.photograph-header-name{
    width:30%;
}

.photograph-header-name h1{
    color:#DB8876;
}

.photograph-header-name h4{
    color: black;
}

.photograph-header-name h4:nth-child(2){
    color:#901C1C;
}

.photographer-photo-display{
    width:25%;
    max-width: 233px;
    height: 80%;
    margin-right: 5%;
}

.photographer-photo-display img{
    width:100%;
    height:220px;
    border-radius:50%;
    object-fit: cover;
}
.heartIcon{
    border-style: none;
    color: #901C1C;
    background-color: #ffffff00;
}

.heartI{
    color: black;
}
.contact_button {
    position:absolute;
    left:40%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

button.contact_button:hover{
    background-color: #DB8876;
}

.contact_button_send{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button_send:hover{
    background-color: #DB8876;
}
.photograph-display{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.photograph-div{
    width:310px;
    height:370px;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.photographe-legende{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    color:#901C1C;
}

.photograph-div h5{
    font-size:14pt;
    font-weight: 200;
}

.photograph-img{
    width:100%;
    height:240px;
    object-fit: cover;
    border-radius: 4px;
}

.photograph-video{
    width:100%;
    height:240px;
    object-fit: cover;
}

#contact_modal{
    width:100%;
    height: 150%;
    position: absolute;
    top:0;
    background-color: #d5d5d55e;
}

.modal {
    position: relative;
    top:3%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    box-shadow: -4px 6px 20px 0px #5c5b5b;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    top:5%;
    right:5%;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.modal h3{
    position:relative;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#dropdown {
    background-color: #901c1c;
    color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 10rem;
    font-size: 12pt;
  }

.dropdown_option{
    background-color: #901c1c;
    color: white;
}

.dropdown_div{
    margin-left: 3%;
}
/*-- bottom div likes/price --*/
.likesDiv{
    position:sticky;
    bottom: 0;
    margin-left: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    width:17%;
    height:40px;
    background-color: #DB8876;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color:black;
}
.priceP{
    font-weight: 300;
}
.likesP{
    font-weight: 400;
}

/*---lighbox---*/

.lightbox{
    display:none;
    width:100%;
    height:100%;
    background-color: white;
    position: fixed;
    top:0;
}

.close{
    position:absolute;
    top:10px;
    right:10px;
    border-style: none;
    color:#DB8876;
    font-size: 20pt;
    background: #FFFFFF;
}

.next{
    position:absolute;
    top: 50%;
    right:10px;
    border-style: none;
    color:#DB8876;
    font-size: 30pt;
    background: #FFFFFF;
}

.previous{
    position: absolute;
    top:50%;
    left:10px;
    border-style: none;
    color:#DB8876;
    font-size:30pt;
    background: #FFFFFF;

}

.mediaC{
    width:100%;
    height:auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#lbMedia{
    width:100%;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
}
#lbMedia p{
    color:#901C1C;
    font-size: 12pt;
/*    position:relative;
    left:-27%;*/
}

.mediaMedia{
    width:45%;
    max-width:760px;
}

.previewImage{
    width:90%;
    height:auto;
    margin-left: 5%;
    margin-right: 5%;
}

.previewVideo{
    width:90%;
    height:auto;

}